@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
 
:root {
    --rosa_claro : rgba(248, 15, 143, 0.548);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(0, 0, 0);
    overflow: none;
}

::placeholder
{
    color: rgba(225, 228, 230, 0.678);
}

.fondo1{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    background-image: url('../img/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.gradiant{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -50;
    top: 0;
    left: 0;
    display: block;
    background-size: 100% 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.884) 0%, rgba(3, 3, 20, 0.267) 80%, rgba(2, 2, 1, 0.774) 100%);
}

.main_container{
    width: 100%;
    margin: 70px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 50px 100px;
    font-family: 'Lato', sans-serif;
}

.div__container_information{
    margin-top: 20px;
    padding: 50px;
    color: #f8f8f8;
    width: 70%;
    min-width: 400px;
}

.div__container_login{
    width: 30%;
    transition: 1s;
    min-width: 340px;
    display: block;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    
    background: rgba(0, 0, 0, 0.062);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(1,2,31,1) 54%, rgba(3,5,41,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(54%, rgba(1,2,31,1)), color-stop(100%, rgba(3,5,41,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(1,2,31,1) 54%, rgba(3,5,41,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(1,2,31,1) 54%, rgba(3,5,41,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(1,2,31,1) 54%, rgba(3,5,41,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(1,2,31,1) 54%, rgba(3,5,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#030529', GradientType=1 );
    
    box-shadow: 0 0 10px 2px var(--rosa_claro);

    backdrop-filter: blur(5px);
}

.logo_gabystore{
    margin-top: -60px;
}

.logo_gabystore img{
    width: 28%;
    height: 28%;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--rosa_claro);
    object-fit: cover;
}

.div__container_login h1{
    color: aliceblue;
}

.alert{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    display: none;
    border-radius: 9px;
    font-weight: 10px;
    color: aliceblue;
}
.alert.activealert{
    display: block;
    animation: focus_in 0.2s;
}

.div__container_login form{
    text-align: center;
}

.div__container_login form h4 a{
    color: rgb(10, 163, 163);
    transition: .1s ease-in-out;
}
.div__container_login form h4 a:hover{
    color: aqua;
    transition: .1s ease-in-out;
}


.container_input{
    width: 100%;
    position: relative;
}

.user_invalid{
    color: rgb(241, 13, 13);
    display: none;
    margin-left: 20px;
    text-align: left;
}
.user_invalid.active{
    display: block;
} 

.container_input .user_invalid i{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 20px;
}

.input_user,
.input_pass {
    width: 90%;
    padding: 9px;
    padding-left: 10px;
    padding-right: 40px;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #f7f7f7;
    margin: 10px 0px 5px;
    border: 1px solid;
    border-radius: 9px;
    background: none;
    border-color: var(--rosa_claro);
}

.input_user:focus,
.input_pass:focus {
    border: 1px solid;
    border-color:var(--rosa_claro);
    background-color: rgba(248, 248, 248, 0.301);
    animation: focus_in 0.1s;
}

.input_submit{
    width: 75%;
    padding: 10px;
    border-radius: 9px;
    outline: none;
    border: none;
    color: aliceblue;
    font-size: 17px;
    margin-bottom: 10px;
    background: var(--rosa_claro);
    background: linear-gradient(0deg, rgba(144,3,139,1) 0%, rgba(215,3,151,0.927608543417367) 21%, rgba(138,29,115,1) 100%);
    /* background: rgb(85,29,1);
    background: linear-gradient(0deg, rgba(85,29,1,0.9164040616246498) 0%, rgba(185,41,5,1) 21%, rgba(255,89,0,1) 100%);
    */ cursor: pointer;
}

.input_submit:hover{
    background: linear-gradient(0deg, rgba(155, 1, 150, 0.925) 0%, rgba(255, 0, 179, 0.884) 21%, rgba(138,29,115,1) 100%);
}

.input_submit:active{
    animation: focus_in 0.1s;
}

@keyframes focus_in{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.025);
    }
    100%{
        transform: scale(1);
    }
}   

@media (max-width: 950px){
    body{
        overflow: auto;
    }
    .main_container{
        flex-direction: column-reverse;
    }
    
}